.NowTemperature {
  font-weight: bold;
  font-size: 38px;
}
.NowType {
  font-size: 25px;
  line-height: 1;
}

.TemperatureRange {
  font-size: 30px;
  line-height: 1;
}
.MaxTemperature {
  font-weight: bold;
  padding-top: 21px;
}
.MinTemperature {
  padding-top: 4px;
}
.WeatherDetailsTitle,
.WeatherDetailsData {
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.3;
}
.TodayWeatherIcon {
  display: block;
  margin: 0 auto;
  padding-top: 20%;
  width: 100%;
  max-width: 170px;
}
.NowWeather,
.WeatherDetailsTitle {
  margin-right: 15px;
}
